.container{
	margin:0 auto;
	width: 80%;
}

*{
	box-sizing: border-box;
	font-family: "Baloo paaji";
}
body {
	background-color: #D1FCF9;
	margin: 0px !important;
	padding: 0px !important;
}

header{
	background-color: #037F99;
}
nav {
	margin-top: 30px;
}
.titulo{
	font-family: "Baloo paaji";
	color: #FF7673;
}

span{
	color:white;
}

li {
	float: left;
	margin-left: 10px;
	color:white;
	font-size: 15px;
}

.fondoconejo{
	background: url(../img/img-1.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 50px 80px;
}

.fondoblanco {
	
}
.opacidad .degrade {
	background-color: rgba(3, 127, 153, 0.87);
}

.titulo2 {
	color: #FF7673;
	margin:0;
	font-size:80px;
	text-align: center;
}

.degrade h3 {
	text-align: center;
	color: white;
}

.degrade {
	padding: 60px 30px;
}
 img{
 	width: 100%;
 }

 .box-text {
 	background-color: #037F99;
 	border: 10px solid white;
 	text-align: center;

 }

.icon{
	visibility: hidden;
	
}

@media (max-width : 479px){
	.titulo{
		font-size: 30px;
		display: inline;
	}
	.icon{
		visibility: visible;
		float: right;
		margin-top: 10px;
		color: white;
		font-size: 30px;
		
	}
	nav {
		visibility: hidden;
		display: none;
	}
	.titulo2 {
		font-size: 40px;
	}
	.fondoconejo{
		padding: 25px 40px;
	}
	.degrade {
		padding: 25px 15px;
	}
}