.container{
	margin:0 auto;
	width: 80%;
}

*{
	box-sizing: border-box;
}

*{
	font-family: "Baloo paaji"
}

header{
	background-color: #037F99;
}

.titulo{
	font-family: "Baloo paaji";
	color: #FF7673;
}

span{
	color:white;
}

li {
	float: left;
	margin-left: 10px;
	color:white;
	font-size: 15px;
}

.fondoconejo{
	background: url(../img/img-1.jpg);
	height: 450px;
	width: 100%;
	background-repeat: no-repeat;
	
}

.degrade{
	background-color: rgba(3, 127, 153, 0.87);
	padding-top: 40px
	padding-bottom:40px;
	margin:0 auto;
}

.titulo2{
	color: #FF7673;
	font-size:60px;
}

.degrade{
	color:white;
	text-align: center;
}

 img{
 	width: 100%;
 }

 .box-text {
 	margin-top:10%;
 }

